@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}


<div class="slide">
			<div class="slide-inner">
				<input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
				<div class="slide-item">
					<img src="https://citapreviasoc.es/wp-content/uploads/2021/09/subsidio-emigrantes-retornados-731x411.jpg">
				</div>
				<input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="https://2.bp.blogspot.com/-MAvArXSWmac/VWHmHgT7r-I/AAAAAAAAQcM/1Si7DyUEnjA/s1600/Subsidio-emigrante-retornado.jpg">
				</div>
				<input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="https://pbs.twimg.com/media/E8Fu5V3X0AQtNQt.jpg">
				</div>
				<label for="slide-3" class="slide-control prev control-1">‹</label>
				<label for="slide-2" class="slide-control next control-1">›</label>
				<label for="slide-1" class="slide-control prev control-2">‹</label>
				<label for="slide-3" class="slide-control next control-2">›</label>
				<label for="slide-2" class="slide-control prev control-3">‹</label>
				<label for="slide-1" class="slide-control next control-3">›</label>
				<ol class="slide-indicador">
					<li>
						<label for="slide-1" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-2" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-3" class="slide-circulo">•</label>
					</li>
				</ol>
			</div>
		</div>




<!--------------------------------------->
<main class="main columns">
  <section class="column main-column">
    <a class="article first-article" href="#">
      <figure class="article-image is-4by3">
        <img src="https://citapreviasoc.es/wp-content/uploads/2021/09/subsidio-emigrantes-retornados-731x411.jpg" alt="">
      </figure>
      <div class="article-body">
        <h2 class="article-title">
          Nuevos subsidios para emigrantes
        </h2>
        <p class="article-content">

        </p>
        <footer class="article-info">
          <span>By system code</span>
          <span>MisionTIC 2022 / hackaton</span>
        </footer>
      </div>
    </a>

    <div class="columns">
      <div class="column nested-column">
        <a class="article" href="#">
          <figure class="article-image is-16by9">
            <img src="https://2.bp.blogspot.com/-MAvArXSWmac/VWHmHgT7r-I/AAAAAAAAQcM/1Si7DyUEnjA/s1600/Subsidio-emigrante-retornado.jpg" alt="">
          </figure>
          <div class="article-body">
            <h2 class="article-title">
              El diario de un migrante
            </h2>
            <p class="article-content">
              el diario de un migrante sin documentos tratando de sobrevivir en otro pais
              
            </p>
            <footer class="article-info">
              <span>By system code</span>
              <span>MisionTIC 2022 / hackaton</span>
            </footer>
          </div>
        </a>
      </div>

      <div class="column">
        <a class="article" href="https://www.urnadecristal.gov.co/pregunta/que-tipo-de-ayuda-ofrece-gobierno-a-inmigrantes-conseguir-auxilio-de-vivienda-en-colombia">
          <figure class="article-image is-16by9">
            <img src="https://pbs.twimg.com/media/E8Fu5V3X0AQtNQt.jpg" alt="">
          </figure>
          <div class="article-body">
            <h2 class="article-title">
              nuevos subsidios
            </h2>
            <p class="article-content">
              Conozca como solicitar estos beneficios que los diferentes paises tiene para usted
            </p>
            <footer class="article-info">
              <span>By system code</span>
              <span>MisionTIC 2022 / hackaton</span>
            </footer>
          </div>
        </a>
        <a class="article" href="https://migravenezuela.com/web/articulo/que-deben-hacer-los-venezolanos-beneficiarios-del-ingreso-solidario/1907">
          <div class="article-body">
            <h2 class="article-title">
              Iniciativas locales para ayudar a los migrantes
            </h2>
            <p class="article-content">
              las comunidades impulsan nuevos proyectos para contribuir a los migrantes 
            </p>
            <footer class="article-info">
              <span>By system code</span>
              <span>MisionTIC 2022 / hackaton</span>
            </footer>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="column">
    <a class="article" href="https://feriadecali.com.co/noticias/">
      <figure class="article-image is-3by2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCQhcZ_GYKIXLQ9UVys_sY9kOFoX8rHeIiZJEBSWNZ_mzNr8gf7_9P16O4uwhdqyegWd4&usqp=CAU" alt="">
      </figure>
      <div class="article-body">
        <h2 class="article-title">
          Conoce las anecdotas de mas migrates
        </h2>
        <p class="article-content">
          en el siguiente block conoceras las historias y anecdotas de miles de migrates
        </p>
        <footer class="article-info">
          <span>By system code</span>
          <span>MisionTIC 2022 / hackaton</span>
        </footer>
      </div>
    </a>
    <a class="article" href="https://bogota.gov.co/mi-ciudad/gobierno/bogota-recibira-apoyo-economico-migrantes-sistema-de-cuidado-y-metro">
      <div class="article-body">
        <h2 class="article-title">
          perdio su documento de identidad?
        </h2>
        <p class="article-content">
          conoce como solicitarla en tu embaja

          ver mas ....
        </p>
        <footer class="article-info">
          <span>By system code</span>
          <span>MisionTIC 2022 / hackaton</span>
        </footer>
      </div>
    </a>
    <a class="article" href="https://www.elpais.com.co/cali">
      <div class="article-body">
        <h2 class="article-title">
          Tu pasaporte a un click 
        </h2>
        <p class="article-content">
          conocer mas....
        </p>
        <footer class="article-info">
          <span>By system code</span>
          <span>MisionTIC 2022 / hackaton</span>
        </footer>
      </div>
    </a>
    <a class="article" href="https://bogota.gov.co/mi-ciudad/salud/requisitos-para-que-migrantes-se-vacunen-en-bogota-contra-covid-19">
      <div class="article-body">
        <h2 class="article-title">
          Nuevo solicitando visa?
        </h2>
        <p class="article-content">
          Conoce los tramites

          ver mas
        </p>
        <footer class="article-info">
          <span>By system code</span>
          <span>MisionTIC 2022 / hackaton</span>
        </footer>
      </div>
    </a>
  </section>
</main>